## Get data

We want all data in a nicely formatted: title, real_or_fake format. Due to the limitation that our data comes from multiple data sources and come with multiple formats and columns, we need to try our best to integrate all data sources.

In [17]:
import pandas as pd

# helper function
def prep_df(df,title_col,real_or_fake):
    df['real_or_fake'] = real_or_fake
    df['title'] = df[title_col].apply(lambda x: x.lower())
    df = df[['title', 'real_or_fake']]
    return df

# abc news
abc_news = pd.read_csv('data/abcnews-date-text.csv')
abc_news = prep_df(abc_news, 'headline_text', 1)
abc_news.head()

                                               title  real_or_fake
0  aba decides against community broadcasting lic...             1
1     act fire witnesses must be aware of defamation             1
2     a g calls for infrastructure protection summit             1
3           air nz staff in aust strike for pay rise             1
4      air nz strike to affect australian travellers             1

In [18]:
gossip_fake = pd.read_csv('data/gossipcop_fake.csv', delimiter=',')
gossip_fake = prep_df(gossip_fake, 'title', 0)
gossip_fake.head()

                                               title  real_or_fake
0  did miley cyrus and liam hemsworth secretly ge...             0
1  paris jackson & cara delevingne enjoy night ou...             0
2  celebrities join tax march in protest of donal...             0
3  cindy crawford's daughter kaia gerber wears a ...             0
4      full list of 2018 oscar nominations – variety             0

In [19]:
gossip_real = pd.read_csv('data/gossipcop_real.csv', delimiter=',')
gossip_real = prep_df(gossip_real, 'title', 1)
gossip_real.head()

                                               title  real_or_fake
0  teen mom star jenelle evans' wedding dress is ...             1
1  kylie jenner refusing to discuss tyga on life ...             1
2                                      quinn perkins             1
3  i tried kim kardashian's butt workout & am for...             1
4  celine dion donates concert proceeds to vegas ...             1

In [23]:
politifact_fake = pd.read_csv('data/politifact_fake.csv', delimiter=',')
politifact_fake = prep_df(politifact_fake, 'title', 0)
politifact_fake.head()

                                               title  real_or_fake
0  breaking: first nfl team declares bankruptcy o...             0
1  court orders obama to pay $400 million in rest...             0
2  update: second roy moore accuser works for mic...             0
3         oscar pistorius attempts to commit suicide             0
4        trump votes for death penalty for being gay             0

In [24]:
politifact_real = pd.read_csv('data/politifact_real.csv', delimiter=',')
politifact_real = prep_df(politifact_real, 'title', 1)
politifact_real.head()

                                               title  real_or_fake
0        national federation of independent business             1
1                        comments in fayetteville nc             1
2  romney makes pitch, hoping to close deal : ele...             1
3  democratic leaders say house democrats are uni...             1
4    budget of the united states government, fy 2008             1